@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.tooltip {
  padding: 20px;
  display: flex;
  font-size: 1rem;
}

.navBar {
  background-color: rgba(255, 255, 255, 10);
}

.homeBackground {
  background-image: linear-gradient(
    to bottom,
    rgb(17, 24, 39),
    rgb(75, 85, 99)
  );
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

/* .mainContainer{
  height: 100vh;
} */

.mapAndBoxContainer {
  display: flex;
  flex-direction: column;
}

.mapContainer {
  height: 100%;
  /* z-index: -1 */
}

.leaflet-container {
  /* nunca borrar esto! */
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

/* .home {
height: 100vh;
background-color: rgb(255, 91, 91);
} */

/* .card{
transition: "height 2s";
display: flex;
flex-direction: column;
max-height: 50vh;

background-color: rgb(60, 184, 222);
text-align: center;
} */

/* @keyframes inAnimation {
  0% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}

@keyframes outAnimation {
  0% {
    height: 50%;
  }
  100% {
    height: 10%;
  }
} */

/* .navbarContainer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 158, 16);
  color: white;
} */

/* .openClose{
  height: 20px;
}
.openClose img {
  height: 100%;
}

.navigateButtons{
display :flex;
justify-content: center;
}
.buttonNav {
  width: 100%;
  height: 2rem;
  font-size: 1.3rem;
} */

/* li {
  font-size: 30px;
margin-top: 80px;} */

/* .popup-fixed {
  position: fixed;
  top: auto;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
} */

/* .details {
  height: 50px;
  width: 100%;
  background-color: red;

  z-index: 50;
} */

/* .request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
  width: 400px;
  position: fixed;
} */

/* .leaflet-marker-icon {
   border: solid red 2px;
} */
