.click{
    height: 25px;
    background-color: red;
  }
  .boxOpen{
    height: 110%;
    transition: 1s;
  }
  
  .boxClosed{
    height: 20%;
    transition: 1s;
  }
  .boxHidden{
  height: 0px;
  transition: 1s;
  }

  .imgContainer{
    height: 300px;
  }