.click{
    height: 25px;
    background-color: red;
  }
  .boxOpen{
    height: 110%;
    background-color: aqua;
    transition: 0.5s;
  }
  
  .boxClosed{
    height: 20%;
    background-color: aqua;
    transition: 0.5s;
  }
  .boxHidden{
  height: 0px;
  background-color: rgb(255, 0, 225);
  }